<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsy.mapper.AuthMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user_base (username, password, email, role, status, create_time, phone,age,avatar_url)
        VALUES (#{username},#{password},#{email},#{role},#{status},#{createTime},#{phone},#{age}, #{avatarUrl})
    </insert>
<!--    <insert id="register" useGeneratedKeys="true" keyProperty="id">-->
<!--        INSERT INTO user_base (-->
<!--            username,-->
<!--            password,-->
<!--            email,-->
<!--            phone,-->
<!--            age,-->
<!--            role,-->
<!--            status,-->
<!--            create_time-->
<!--        ) VALUES (-->
<!--                     #{username},-->
<!--                     #{password},-->
<!--                     #{email},-->
<!--                     #{phone},-->
<!--                     #{age},-->
<!--                     #{role},-->
<!--                     #{status},-->
<!--                     #{createTime}-->
<!--                 )-->
<!--    </insert>-->
    <update id="updateBaseFields">
        UPDATE user_base
        SET username = #{username},
            phone = #{phone},
            email = #{email},
            age = #{age},
            status = #{status}
        WHERE id = #{id}
    </update>
    <update id="updateById">
        UPDATE mysystem.user_base
        SET username = #{username},
            email = #{email},
            phone = #{phone},
            age = #{age},
            avatar_url = #{avatarUrl}
        WHERE id = #{id}
    </update>


</mapper>
