<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsy.mapper.CoachMapper">
    <insert id="insert">
        insert into coach_info (user_id, bio, certification_url, is_verified, speciality, years_experience, contact_wechat, create_time, update_time)
        VALUES (
                   #{userId}, #{bio}, #{certificationUrl},
                   #{isVerified}, #{speciality}, #{yearsExperience},
                   #{contactWechat}, #{createTime}, #{updateTime}
               )
    </insert>
    <update id="markUserAsDeleted">
        UPDATE user_base
        SET status = 2
        WHERE id = #{id}
    </update>

    <select id="pageQueryCoach" parameterType="com.tsy.dto.CoachPageQueryDTO" resultType="com.tsy.vo.CoachVO">
        SELECT
        ub.id,
        ub.username,
        ub.phone,
        ub.email,
        ub.status,
        ub.create_time,
        ci.avatar_url AS avatarUrl,
        ci.bio,
        ci.certification_url AS certificationUrl,
        ci.is_verified AS isVerified,
        ci.speciality,
        ci.years_experience AS yearsExperience,
        ci.contact_wechat AS contactWechat
        FROM user_base ub
        LEFT JOIN coach_info ci ON ub.id = ci.user_id
        <where>
            ub.role = 'coach'
            AND ub.status != 2
            <if test="keyword != null and keyword != ''">
                AND (
                ub.username LIKE CONCAT('%', #{keyword}, '%')
                OR ub.phone LIKE CONCAT('%', #{keyword}, '%')
                OR ub.email LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
        </where>
        ORDER BY ub.id DESC
    </select>
    <select id="pageQueryForReview" resultType="com.tsy.vo.CoachQualificationVO">
        SELECT
        ub.id AS userId,
        ub.username,
        ub.phone,
        ci.avatar_url AS avatarUrl,
        ci.certification_url AS certificationUrl,
        ci.speciality,
        ci.years_experience AS yearsExperience,
        ci.bio
        FROM user_base ub
        LEFT JOIN coach_info ci ON ub.id = ci.user_id
        <where>
            ci.is_verified = 2
            <if test="keyword != null and keyword != ''">
                AND (
                ub.username LIKE CONCAT('%', #{keyword}, '%')
                OR ub.phone LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
        </where>
        ORDER BY ub.id DESC
    </select>

    <update id="updateVerificationStatus">
        UPDATE coach_info
        SET is_verified = #{isVerified}
        WHERE user_id = #{userId}
    </update>
    <update id="updateVerifyStatus">
        UPDATE coach_info
        SET is_verified = #{isVerified},
        reject_reason =
        <choose>
            <when test="isVerified == 3">
                #{rejectReason}
            </when>
            <otherwise>
                NULL
            </otherwise>
        </choose>,
        update_time = NOW()
        WHERE user_id = #{userId}
    </update>

</mapper>