<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsy.mapper.UserMapper">
    <insert id="insert">
        insert into user_info (
            user_id, avatar_url, gender, height, weight,
            bio, goal, level, create_time, update_time
        )
        values (
                   #{userId}, #{avatarUrl}, #{gender}, #{height}, #{weight},
                   #{bio}, #{goal}, #{level}, #{createTime}, #{updateTime}
               )
    </insert>
    <insert id="register">

    </insert>
    <select id="pageQuery" resultType="com.tsy.vo.UserFullVO">
        SELECT
            ub.id,
            ub.username,
            ub.phone,
            ub.email,
            ub.role,
            ub.status,
            ub.create_time,
            ui.gender,
            ui.height,
            ui.weight,
            ui.goal,
            ui.level,
            ui.bio,
            ui.avatar_url
        FROM user_base ub
                 LEFT JOIN user_info ui ON ub.id = ui.user_id
        <where>
            <if test="keyword != null and keyword != ''">
                AND (
                username LIKE CONCAT('%', #{keyword}, '%')
                OR phone LIKE CONCAT('%', #{keyword}, '%')
                OR email LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="true"> <!-- 永远成立，只是为了统一风格放进 where 块 -->
                AND ub.role = 'user'
            </if>
        </where>
        ORDER BY id DESC
    </select>


</mapper>